/* -------------------- STYLE DLA STRONY WYŚWIETLAJĄCEJ OCENY ZADAŃ UCZNIA --------------------- */
/* ------------------------ (C) mgr inż. Bartłomiej Trojnar; 20.02.2023 ------------------------ */

table#taskRatings { text-align: center; }

tr#createRow { background: #874; }
td.edit {   min-width: 125px; background: pink;  }
td.createButtons {   min-width: 175px;  }

/* dla wiersza z formularzem dodawania oceny zadania */
input[required], select[name="task_id"] {   background: #fb8; border: 3px solid #c55; }
select[name="task_id"] {    font-size: small; padding: 0; margin: 0; }