td.grades aside, td.teachers aside
{
    float: right;
    margin: 5px;
    padding: 5px;
}
td.grades a
{
    margin: 5px;
    padding: 5px;
}
td.grades button
{
    padding: 5px;
}
td.grades form
{
    display: inline;
}