section#taughtSubjectsList, section#subjectTeachersList {
    float: left;
    margin: 0 0 0 2%;
    width: 30%;
    min-height: 50px;
    text-align: center;
    border: 2px dashed #777;
    padding: 10px;
    
}
section#subjectsList, section#unlearningTeachersList {
    float: right;
    margin: 0 2% 0 0;
    width: 60%;
    min-height: 50px;
    text-align: center;
    border: 2px dashed #777;
    padding: 10px;
}
section#taughtSubjectsList li, section#subjectsList li, section#subjectTeachersList li, section#unlearningTeachersList li {
    color: #444;
    border-radius: 15px;
}
section#subjectsList li, section#unlearningTeachersList li {
    display:inline-block;
    min-width: 200px;
    margin: 5px;
}
section#subjectsList li:nth-child(2n) { float: right; }
section#taughtSubjectsList li span, section#subjectTeachersList li span, div#token, div#url,
div#subject-id, div#teacher-id  { display: none; }
li var { display: none; }

section#unlearningTeachersList li:hover { background: #fa0; }
section#subjectTeachersList li:hover    { background: #00f; color: white; }