/* -------------- STYLE DLA strony ustawiania kolejności nauczycieli na wydrukach -------------- */
/* --------------------- (C) mgr inż. Bartłomiej Trojnar; (II) marzec 2020 --------------------- */

ol#printOrder {
    background: blue;
    padding: 0;
}

ol#printOrder li {
    display: inline-block;
    background: coral;
    border: 2px solid #f44;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    width: 214px;
    min-height: 48px;
    text-align: center;
}

div.teacher {
    border: 1px solid #00f;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
}
div.teacher:hover {
    background-color: chocolate;
}