/* ------------------------ (C) mgr inż. Bartłomiej Trojnar; 29.01.2023 ------------------------ */
#enlargementsSection {
    background: #444;
    border-radius: 25px;
    margin: 25px;
    padding: 10px;
    box-shadow: 5px 5px 10px #77f;
}
#enlargementsSection div {
    border: 2px solid #222;
    border-radius: 10px;
    margin: 20px;
}

#enlargementsSection div time {
    color: #f70;
    font-size: 150%;
    margin: 10px auto;
    text-shadow: 3px 3px 1px #008;
}

#enlargementsSection div ul {
    list-style-type: none;
    padding-left: 5px;
    overflow: auto;
}

#enlargementsSection div li {
    border: 2px solid #77d;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #008;
    margin: 10px 1%;
    width: 30%;
    float: left;
}
#enlargementsSection li del {
    color: #222;
}

#enlargementsSection div button {
    padding: 5px;
    margin: 5px;
}

#enlargementsSection td.buttons {
    min-width: 210px;
    text-align: center;
}
#enlargementsSection .createForm tr:hover, #enlargementsSection .editForm tr:hover {
    background: none;
}
#enlargementsSection .editForm button, #enlargementsSection .exchangeForm button {
    padding: 15px;
    margin: 0;
}
#enlargementsSection .editForm input:hover, #enlargementsSection .editForm select:hover {
    background: #cce;
}