/* -------------------- STYLE DLA STRONY WYŚWIETLAJĄCEJ OCENY ZADAŃ UCZNIA --------------------- */
/* -------------------- (C) mgr inż. Bartłomiej Trojnar; (II) kwiecień 2021 -------------------- */

td.edit {
    min-width: 125px;
}

/* dla wiersza z formularzem dodawania oceny zadania */
input[required], select[name="task_id"] {
    background: #fcc;
}
select[name="task_id"] {
    font-size: small;
    padding: 0;
    margin: 0;
}
select[name="task_id"] option {
    padding: 0;
}
tr#createRow td:last-child {
    min-width: 125px;
}
tr#createRow td:last-child button {
    font-size: 0.8em;
    padding: 12px;
}

/*
aside {
    float: right;
    margin-right: 200px;
}
tr.unlocked {
    background: #575;
}
tr.locked {
    background: #755;
}
td.status {
    padding: 0 20px;
}
tr.unlocked td.status i {
    font-size: 24px;
    color:lightgreen;
}
tr.locked td.status i {
    font-size: 24px;
    color:red;
}
*/